<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改教师数据</title>
</head>
<body>
<script src="../layui/layui.js"></script>
<div class="layui-form" lay-filter="useradmin" id="userTeacher">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <label>教&nbsp;师&nbsp;&nbsp;I&nbsp;D:</label>
            <input type="text" name="teacherId" id="teacherId">
            <br>
            <br>

            <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</label>
            <input type="text" name="teacherName" id="teacherName">
            <br>
            <br>


            <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</label>
            <input type="text" name="teacherSex" id="teacherSex">
            <br>
            <br>

            <label>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;院:</label>
            <input type="text" name="teacherCollege" id="teacherCollege">
            <br>
            <br>

            <label>职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称:</label>
            <input type="text" name="teacherTitle" id="teacherTitle">
            <br>
            <br>

            <label>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科:</label>
            <input type="text" name="teacherSubject" id="teacherSubject">
            <br>
            <br>

            <label>工资号码:</label>
            <input type="text" name="teacherSN" id="teacherSN">
            <br>
            <br>

            <label>手机号码:</label>
            <input type="text" name="teacherPhone" id="teacherPhone">
            <br>
            <br>

            <label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:</label>
            <input type="text" name="teacherEMail" id="teacherEMail">
            <br>
            <br>

        </div>
    </div>
</div>

</body>
</html>