<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改管理员数据</title>
</head>
<body>
<script src="../layui/layui.js"></script>
<div class="layui-form" lay-filter="useradmin" id="userAdmin">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <label>&nbsp;I&nbsp;&nbsp;D&nbsp;:</label>
            <input type="text" name="admId" id="admId">
            <br>
            <br>

            <label>姓&nbsp;名:</label>
            <input type="text" name="admName" id="admName">
            <br>
            <br>

            <label>密&nbsp;码:</label>
            <input type="text" name="admPassword" id="admPassword">
            <br>
            <br>
        </div>
    </div>
</div>

</body>
</html>