<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改学生数据</title>
</head>
<body>
<script src="../layui/layui.js"></script>
<div class="layui-form" lay-filter="useradmin" id="userStudent">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <label>学&nbsp;生&nbsp;&nbsp;I&nbsp;D:</label>
            <input type="text" name="studentId" id="studentId">
            <br>
            <br>

            <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</label>
            <input type="text" name="studentName" id="studentName">
            <br>
            <br>

            <label>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号:</label>
            <input type="text" name="studentSno" id="studentSno">
            <br>
            <br>

            <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</label>
            <input type="text" name="studentSex" id="studentSex">
            <br>
            <br>

            <label>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;院:</label>
            <input type="text" name="studentCollege" id="studentCollege">
            <br>
            <br>

            <label>身份证号:</label>
            <input type="text" name="studentIdCard" id="studentIdCard">
            <br>
            <br>

            <label>专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业:</label>
            <input type="text" name="studentMajor" id="studentMajor">
            <br>
            <br>

            <label>入学年份:</label>
            <input type="text" name="studentEY" id="studentEY">
            <br>
            <br>

            <label>手机号码:</label>
            <input type="text" name="studentPhone" id="studentPhone">
            <br>
            <br>

            <label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:</label>
            <input type="text" name="studentEMail" id="studentEMail">
            <br>
            <br>

        </div>
    </div>
</div>

</body>
</html>