<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>项目审核</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <script src="../js/jquery-3.6.0.js"></script>
</head>
<body>
<input type="hidden" class="number" name="number">
<form class="layui-form layui-form-pane" action="/ADS">
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">审核结果</label>
        <div class="layui-input-block">
            <input type="radio" name="examine" value="1" title="审核通过" checked="">
            <input type="radio" name="examine" value="0" title="审核未通过">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="remark" placeholder="请输入是否通过的理由或建议" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="../layui/layui.js" charset="utf-8"></script>
<script>//Demo
layui.use('form', function () {
    var form = layui.form;

    //监听提交
    form.on('submit(formDemo)', function (data) {
        // layer.msg(JSON.stringify(data.field));
        //JSON.stringify(data.field)   这是表单中所有的数据
        // console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
        // console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
        // console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
        var examine = $('input[name="examine"]:checked').val();
        var remark = data.field.remark;
        var number = $("input:hidden[name='number']").val();

        $.ajax({
            url: "../ADS"
            , type: "post"
            , data: {
                "examine": examine
                , "remark": remark
                , "number": number
                , "addIdentity": 'projectExamine'

            }
            , success: function (res) {
                switch (res) {
                    case "success":
                        alert('提交成功!');
                        break;
                    case "error":
                        alert('此项目已审核!');
                        break;
                }

            }
            , error: function (res) {

                alert('添加失败!');
            }
        })
        return false;
    });
}); </script>
</body>
</html>